<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.administra.kforum2020">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.Notificaciones"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".Activities.LugarActivity"
        android:label="@string/app_name"></activity>
        <activity android:name=".Activities.VenueDia2"
            android:label="Venue Day Two"></activity>
        <activity android:name=".Activities.FAQSeleccionadaActivity"
            android:label="FAQs"></activity>
        <activity android:name=".Activities.PerfilActivity"
            android:label="My profile"></activity>
        <activity android:name=".Activities.ContactUsActivity"
            android:label="My profile"></activity>
        <activity android:name=".Activities.HelpUsActivity"
            android:label="My profile"></activity>
        <activity android:name=".Activities.VerSpeakerActivity"
            android:label="Speakers"></activity>
        <activity android:name=".Activities.DetalleAgendaActivity"
            android:label="Agenda"></activity>
        <activity android:name=".Activities.FAQSActivity"
            android:label="FAQs"></activity>
        <activity android:name=".Activities.SplashActivity"/>
        <activity
            android:name=".Activities.LoginActivity">



            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>